.contactWrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: color-mix(in srgb, var(--secondary) 50%, transparent);
  justify-content: space-evenly;
  width: 100%;
  border: 2px solid var(--accent);
  margin: auto;
  border-radius: var(--borderRadius);
  padding: 16px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 2px solid var(--accent);
  border-radius: var(--borderRadius);
  resize: vertical;
  background-color: var(--background);
  margin-bottom: 10px;
  caret-color: var(--primary);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: var(--text);
  outline: none;
  box-shadow: 0px 0px 10px 5px
    color-mix(in srgb, var(--accent) 25%, transparent);
}

input[type="submit"] {
  background-color: var(--accent);
  width: 100%;
  padding: 8px;
  border-radius: var(--borderRadius);
  color: var(--background);
  cursor: pointer;
  font-family: "Cherry Swash";
  border: 2px solid var(--accent);
  font-size: 1.066rem;
  transition: 0.2s ease-in;
}

input[type="submit"]:hover {
  background-color: var(--secondary);
  color: var(--text);
  box-shadow: 0px 0px 10px 5px
    color-mix(in srgb, var(--accent) 25%, transparent);
  transition: 0.2s ease-out;
}

input[type="submit"]:active {
  transform: translateY(4px);
}

.block {
  width: 100%;
}

input[type="text"]:required:invalid,
input[type="email"]:required:invalid,
textarea:required:invalid {
  border-color: var(--accent);
}
input[type="text"]:required:valid,
input[type="email"]:required:valid,
textarea:required:valid {
  border-color: var(--secondary);
}

.socialMedia {
  justify-self: center;
}

.socialMediaIcons {
  display: flex;
  justify-content: space-evenly;
}
