.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

footer {
  display: grid;
  grid-template-columns: 2fr 2fr auto;
  grid-template-rows: 2fr 1fr;
  gap: 8px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "info navigation logo"
    "copy copy copy";
  grid-area: footer;
}

.footerCopy {
  grid-area: copy;
}

.footerInfo {
  grid-area: info;
}

.footerLinks {
  grid-area: navigation;
}

.footerLogo {
  grid-area: logo;
}

header {
  grid-area: header;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-auto-flow: row;
  grid-template-areas:
    "titel titel titel"
    "sec1 sec1 sec1"
    "sec2 sec2 sec2"
    "sec3 sec3 sec3"
    "sec4 sec4 sec4"
    "sec5 sec5 sec5"
    "sec6 sec6 sec6"
    "sec7 sec7 sec7";
  grid-area: main;
}

.titel {
  grid-area: titel;
  text-align: center;
}
.sec1 {
  grid-area: sec1;
}

.sec2 {
  grid-area: sec2;
}

.sec3 {
  grid-area: sec3;
}

.sec4 {
  grid-area: sec4;
}

.sec5 {
  grid-area: sec5;
}
.sec6 {
  grid-area: sec6;
}
.sec7 {
  grid-area: sec7;
}

.homeScreenTitle {
  display: grid;
  h1 {
    grid-area: titel;
    text-align: center;
    line-height: 1.2;
  }
  img {
    width: 100%;
    height: auto;
    grid-area: img;
    border-radius: var(--borderRadius);
    box-shadow: 10px 10px 10px var(--accent);
    border: 2px solid var(--primary);
  }
  blockquote {
    grid-area: quote;
    background-color: var(--accent);
    color: var(--background);
    border-radius: var(--borderRadius);
    border: 2px solid var(--primary);
    padding: var(--sPad);
    text-align: center;
    align-content: center;
    box-shadow: -10px 10px 10px var(--accent);
    margin-bottom: 8px;
  }
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--projectGap) var(--projectGap);

  grid-template-areas:
    "titel img"
    "quote quote";
  justify-content: center;
  align-items: center;
}
