header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10; /* Sørger for at menulinje altid er øverst */
  margin-bottom: 8px;
  overflow: hidden;
}

.hidden {
  display: none;
}

.logoImg {
  position: absolute;
  left: 50%; /* Når bruges med den under, så er man sikker på elementet er 100% centreret */
  transform: translateX(-50%);
  height: 40px;
  padding-top: var(--sPad);
}

.logoTop {
  background: url(/images/LogoAniV7.svg) no-repeat;
  position: absolute;
  left: 50%; /* Når bruges med den under, så er man sikker på elementet er 100% centreret */
  transform: translateX(-50%);
  width: 600px;
  height: 50px;
  background-size: 600px 1650px;
  animation: logoTopAni 5s steps(33) 5;
  z-index: 0;
}

@keyframes logoTopAni {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px -1650px;
  }
}

.topBar {
  background-color: var(--primary50);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: var(--mPad);
  position: relative;
  transition: all 0.3s ease; /* Smooth transition */
  box-shadow: 0px -10px 25px 0px var(--primary50) inset;
}

.topBar.open {
  background-color: var(--primary);
  padding: var(--sPad); /* Reduce padding to make it smaller */
  height: 40px;
  transition: all 0.3s ease; /* Smooth transition */
}

.topBar .open .logoImg {
  display: block;
}
.topBar .open .logoTop {
  background-image: none;
}

.fa-bars {
  color: var(--text);
  font-size: 24px;
}

.fa-bars:hover {
  color: var(--background);
  cursor: pointer;
}

.menuIcon i {
  transition: transform 0.3s ease; /* Smooth rotation animation */
}

#topNavMenu {
  display: flex; /* Change to flex for animation */
  flex-direction: column;
  overflow: hidden; /* Ensures content doesn't overflow during animation */
  max-height: 0; /* Initially collapsed */
  transition: max-height 0.3s ease; /* Smooth animation */
}

#topNavMenu.open {
  max-height: 300px; /* Adjust to the height of your menu */
  box-shadow: 5px 5px 15px 5px var(--accent50);
}

.menuIcon,
.spacer {
  display: flex;
  justify-content: center;
  z-index: 10;
}

/* .logoTop {
  position: absolute;
  left: 50%; /* Når bruges med den under, så er man sikker på elementet er 100% centreret 
  transform: translateX(-50%);
}

.logo img {
  height: 40px;
} 
*/

.topNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary);
}

.topMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.topMenu li {
  width: 100%;
}

.topMenu a {
  display: block;
  padding: var(--mPad);
  color: var(--text);
  text-align: center;
  text-decoration: none;
}

.topMenu a:hover {
  background-color: var(--primary);
}

.navLink {
  border-top: 2px solid var(--accent);
}

.selected {
  background-color: var(--accent);
}
.selected h4 {
  color: var(--background);
}

footer {
  background-color: var(--accent);
  color: var(--background);
  text-align: center;
  padding: var(--mPad);
  align-items: center;
}

.footerLink {
  color: var(--background);
}

.footerLogoImg {
  width: auto;
  height: 100px;
  border: none;
  border-radius: 0;
}
