/* 
Farvekoder og font størrelser er hentet fra:
https://www.realtimecolors.com/?colors=140005-fff0f5-ff0080-FF8AC4-75003a&fonts=Cherry%20Swash-Radio%20Canada
*/

@import url("https://fonts.googleapis.com/css?family=Cherry%20Swash:700|Cherry%20Swash:400|Radio%20Canada:400");

body {
  font-family: "Radio Canada";
  font-weight: 400;
  background-color: var(--accent);
  color: var(--text);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cherry Swash";
  font-weight: 700;
  color: var(--accent);
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 2.442rem; /* 39.04px */
  /* font-size: 10vw; */
}

h2 {
  font-size: 1.954rem; /* 31.2px */
  /* font-size: 9vw; */
  font-weight: 400;
}

h3 {
  font-size: 1.563rem; /* 24.96px */
  /* font-size: 7.145vw; */
  font-weight: 400;
}

h4 {
  font-size: 1.25rem; /* 20px */
  /* font-size: 5.714vw; */
  font-weight: 400;
}

h5 {
  font-size: 1rem; /* 16px */
  /* font-size: 4.571vw; */
  font-weight: 400;
  color: var(--text);
}

small {
  font-size: 0.64rem; /* 10.24px */
}

:root {
  --text: #140005;
  --background: #fff0f5;
  --primary: #ff0080;
  --secondary: #ff8ac4;
  --accent: #75003a;

  --deepPink: #ff1493;

  --gradientPriAcc: linear-gradient(
    180deg,
    var(--primary) 0%,
    var(--accent) 100%
  );
  --gradientPriBac: linear-gradient(
    180deg,
    var(--primary) 0%,
    var(--background) 100%
  );
  --gradientSecBac: linear-gradient(
    180deg,
    var(--background) 0%,
    var(--secondary) 100%
  );
  --gradientSecAcc: linear-gradient(
    180deg,
    var(--secondary) 0%,
    var(--accent) 100%
  );
  --gradientSecPriAcc: linear-gradient(
    180deg,
    var(--secondary) 0%,
    var(--primary) 50%,
    var(--accent) 100%
  );
  --gradientBacTex: linear-gradient(
    180deg,
    var(--background) 0%,
    var(--text) 100%
  );

  /* CSS validator klager over farverne nedenfor, dette burde dog være valid kode*/
  --primary50: color-mix(in srgb, var(--primary) 50%, transparent);

  --accent25: color-mix(in srgb, var(--accent) 25%, transparent);

  --accent50: color-mix(in srgb, var(--accent) 50%, transparent);

  --secondary50: color-mix(in srgb, var(--secondary) 50%, transparent);

  --borderRadius: 10px;
  --xsPad: 4px;
  --sPad: 8px;
  --mPad: 16px;
  --lPad: 32px;
  --projectGap: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding: var(--mPad);
}
.container {
  background: var(--gradientSecBac);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

.fa-brands {
  font-size: 40px;
}

.button {
  background-color: var(--accent);
  width: auto;
  padding: 8px;
  border-radius: var(--borderRadius);
  color: var(--background);
  cursor: pointer;
  border: 2px solid var(--primary);
  font-family: "Cherry Swash";
  margin: 4px;

  font-size: 1rem;
  transition: 0.2s ease-in;
}

.button:hover {
  background-color: var(--secondary);
  color: var(--text);
  box-shadow: 0px 0px 10px 5px var(--accent25);
  transition: 0.2s ease-out;
}

.button:active {
  transform: translateY(4px);
}

.btnWrapper {
  margin-top: 16px;
}

hr {
  margin: var(--mPad) 0;
  border-radius: var(--borderRadius);
  border: 2px solid var(--accent);
}

img {
  width: 100%;
  height: auto;
}

.webp {
  border: 2px solid var(--primary);
  border-radius: var(--borderRadius);
  box-shadow: 10px 10px 10px var(--accent);
}

.imageMe {
  float: right;
  width: 50%;
  margin: 8px;
}

blockquote {
  background-color: var(--accent);
  color: var(--background);
  border-radius: var(--borderRadius);
  border: 2px solid var(--primary);
  padding: var(--sPad);
  text-align: center;
  justify-self: center;
  box-shadow: -10px 10px 10px var(--accent);
  margin-bottom: 8px;
  font-size: 1.1rem;
}
