@media screen and (min-width: 601px) {
  .menuIcon,
  .spacer {
    display: none;
  }

  #topNavMenu {
    flex-direction: row;
    flex-wrap: nowrap;

    overflow: hidden;
    max-height: none;
  }

  .topMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  main {
    padding: var(--mPad);
  }

  .projectBlockEven {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px var(--projectGap);
    grid-template-areas: "projectText projectImage";
  }
  .projectBlockUneven {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px var(--projectGap);
    grid-template-areas: " projectImage projectText";
  }

  .projectText {
    grid-area: projectText;
  }
  .projectImg {
    grid-area: projectImage;
    width: 100%;
    height: auto;
  }

  .imageMe {
    float: right;
    width: 50%;
    height: auto;
  }
}

/* 
Todo Front page

On front page, make grid so quote comes up besides picture and under title. Make picture smaller

Make btn bigger

Make zammy smaller

todo About me

make img smaller. 
change font size on sidebar stuff. 
And change icons size

input another picture of zammy


Todo general

change look of footer

make nav transparent, like header


Todo projects

Inset project 
inset description

todo contact 

Make good in pc; get the contact fomular up beside my contact information.

make link to github and linkin. 


*/
