@media screen and (min-width: 601px) {
  .menuIcon,
  .spacer {
    display: none;
  }

  #topNavMenu {
    flex-direction: row;
    flex-wrap: nowrap;

    overflow: hidden;
    max-height: none;
  }

  .topMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  main {
    padding: var(--lPad);
    padding-top: 0;
  }

  .projectBlockEven {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px 32px;
    grid-template-areas: "projectText projectImage";
    place-items: center;
  }
  .projectBlockUneven {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0px 32px;
    grid-template-areas: " projectImage projectText";
    place-items: center;
  }

  #projectsContainer {
    padding: 0;
  }

  .projectBlockUneven,
  .projectBlockEven,
  #projectsTitel {
    padding: var(--lPad);
  }

  .projectText {
    grid-area: projectText;
  }
  .projectImg {
    grid-area: projectImage;

    height: auto;
  }

  .imageMe {
    float: right;
    max-width: 50%;
    height: auto;
    width: auto;
  }

  img {
    max-width: 400px;
  }

  .homeScreenIntro {
    grid-template-areas:
      "quote img"
      "text1 img"
      "text2 img";

    img {
      align-self: flex-start;
      float: right;
    }
  }

  /*
  *  About me   *
  */

  .programsIKnowWrapper {
    flex-flow: row;
  }

  .programsIKnow {
    h5 {
      font-size: 1rem;
    }
    width: auto;
    max-width: 100px;
  }
  .sec2Wrap {
    grid-template-areas:
      "sidebar"
      "info";
    gap: var(--projectGap) 0;
    grid-template-columns: auto;
  }

  #infoBox {
    justify-self: center;
  }

  /* Contact me */

  .mainContact {
    grid-template-areas:
      "titel titel" "sec1 sec3"
      "sec2 sec3";
    gap: 16px;
  }
}

/* 

Todo general

change look of footer

make nav transparent, like header

*/
